@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url('/fonts/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2'),
      url('/fonts/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
      url('/fonts/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('/fonts/Gilroy-Medium/Gilroy-Medium.woff2') format('woff2'),
      url('/fonts/Gilroy-Medium/Gilroy-Medium.woff') format('woff'),
      url('/fonts/Gilroy-Medium/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
      url('/fonts/Gilroy-Semibold/Gilroy-Semibold.woff2') format('woff2'),
      url('/fonts/Gilroy-Semibold/Gilroy-Semibold.woff') format('woff'),
      url('/fonts/Gilroy-Semibold/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('/fonts/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'),
      url('/fonts/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
      url('/fonts/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 14px;
  background-color: #FAFAFC;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 13.5px;
}

.wrapper.wrapper--sm {
  grid-template-columns: 100px 1fr;
}

.label {
  padding: 4px 9px;
  background-color: #F6F5FB;
  border-radius: 0.375rem;
  font-size: 10px;
  min-width: 28px;
  color: #AEB1B9;
  margin-left: auto;
}

.label--active {
  background-color: #E8546C;
  color: #fff;
}

.tier--active {
  background-color: #C2F0CE;
  transition: background-color 150ms ease-in;
}

.tier--active:hover {
  background-color: #98f2b0;
}

.menu__icon {
  display: block;
  z-index: 4;
  position: relative;
  width: 23px;
  height: 18px;
  cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  position: absolute;
  left: 0;
  height: 15%;
  width: 100%;
  transition: all 0.3s ease;
  background-color: #7B57DF;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__icon span {
  top: 50%;
  transform: translateY(-50%) scale(1);
}

.menu__icon._active span {
  transition: all 0.3s ease;
  transform: translateY(-50%) scale(0);
}
.menu__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}

.menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translateY(50%);
}

@media (min-width: 840px) {
  .wrapper {
    display: grid;
    grid-template-columns: 275px 1fr;
    gap: 32px;
    margin: 0 27px 0 0;
    transition: all 0.2s ease-out;
  }
}